.folder-icons {
	margin-top: 10px;
	display: flex;
	align-items: center;
	height: 30px;
	cursor: pointer;

	.user-avatar {
		position: relative;
		display: flex;

		img {
			width: 30px;
			border-radius: 10px;
		}

		&::after {
			content: '';
			position: absolute;
			top: -5px;
			right: -5px;
			border: 2px solid #fbfcf8;
			box-sizing: unset;
			width: 8px;
			height: 8px;
			border-radius: 50%;
		}

		&.online {
			&::after {
				background-color: #2bac76;
			}
		}

		&.offline {
			&::after {
				background-color: #fe4663;
			}
		}

		.starIcon {
			position: absolute;
			top: -8px;
			left: -5px;
			width: 8px;
			height: 8px;
		}
	}

	.username {
		margin-left: 10px;
		font-weight: lighter;
		font-size: 15px;

		&.newNoti {
			font-weight: bold;
		}
	}
}
