.showSidebar {
	width: 250px;
	border-right: 1px solid #34495e;
}

.hideSidebar {
	width: 0px;
	border-right: none;
}

.sidebarChat {
	height: 100%;
	background-color: #424949;
	// border-right: 1px solid #34495e;
	position: relative;
	transition: width 0.1s ease;

	.chatLogo {
		display: flex;
		align-items: center;
		font-size: 1.7rem;
		color: white;
		padding-left: 5%;
		height: 7vh;
		font-weight: bold;
	}

	.chatArea {
		height: 87vh;
		overflow-y: auto;
		position: relative;

		.userSearch {
			width: 100%;
			padding: 0 5%;

			h5 {
				color: #e7fefe;
			}
		}

		.usersAdmin,
		.usersOnline,
		.usersOffline,
		.groupChat {
			margin: 0 5%;
			color: white;
		}

		.adminDivider {
			& > span:nth-child(2) {
				color: yellow !important;
			}
		}
	}

	.createChatRoom {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 6vh;
		cursor: pointer;

		svg {
			// margin-top: 50px;
			height: 30px !important;
			width: 30px !important;

			// path {
			// 	fill: #f0e4ff;
			// }
		}

		span {
			font-size: 1rem;
			color: white;
			margin-left: 10px;
		}
	}
}
