.userAvatarArea {
	padding-bottom: 5px;
	border-bottom: 1px solid #f5b7b1;
	position: relative;

	.userClickPopup {
		position: absolute;
		right: 4%;
		background-color: #424949;
		margin-top: -2px;
		width: 100px;
		border-radius: 10px;
		padding: 20px 0;
		color: white;
		z-index: 1000;
	}
}
