// https://codepen.io/nzbin/pen/GGrXbp

$dotColor: var(--dotColor);
$dotSize: var(--dotSize);
$marginLeftValue: var(--marginLeftValue);

.textdotDiv {
	display: flex;
	align-items: center;
	background-color: #d1d2d3;

	& > div {
		margin-left: $marginLeftValue;
	}
}

/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.dot-flashing {
	position: relative;
	width: $dotSize;
	height: $dotSize;
	border-radius: 5px;
	background-color: $dotColor;
	color: $dotColor;
	animation: dotFlashing 1s infinite linear alternate;
	animation-delay: 0.5s;

	&::after,
	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
	}

	&::before {
		left: -15px;
		width: $dotSize;
		height: $dotSize;
		border-radius: 5px;
		background-color: $dotColor;
		color: $dotColor;
		animation: dotFlashing 1s infinite alternate;
		animation-delay: 0s;
	}

	&::after {
		left: 15px;
		width: $dotSize;
		height: $dotSize;
		border-radius: 5px;
		background-color: $dotColor;
		color: $dotColor;
		animation: dotFlashing 1s infinite alternate;
		animation-delay: 1s;
	}
}

/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.dot-elastic {
	position: relative;
	width: $dotSize;
	height: $dotSize;
	border-radius: 5px;
	background-color: $dotColor;
	color: $dotColor;
	animation: dotElastic 1s infinite linear;

	&::after,
	&::before {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
	}

	&::before {
		left: -15px;
		width: $dotSize;
		height: $dotSize;
		border-radius: 5px;
		background-color: $dotColor;
		color: $dotColor;
		animation: dotElasticBefore 1s infinite linear;
	}

	&::after {
		left: 15px;
		width: $dotSize;
		height: $dotSize;
		border-radius: 5px;
		background-color: $dotColor;
		color: $dotColor;
		animation: dotElasticAfter 1s infinite linear;
	}
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
	position: relative;
	left: -9999px;
	width: $dotSize;
	height: $dotSize;
	border-radius: 5px;
	background-color: $dotColor;
	color: $dotColor;
	box-shadow: 9999px 0 0 -5px $dotColor;
	animation: dotPulse 1.5s infinite linear;
	animation-delay: 0.25s;

	&::before,
	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		width: $dotSize;
		height: $dotSize;
		border-radius: 5px;
		background-color: $dotColor;
		color: $dotColor;
	}

	&::before {
		box-shadow: 9984px 0 0 -5px $dotColor;
		animation: dotPulseBefore 1.5s infinite linear;
		animation-delay: 0s;
	}

	&::after {
		box-shadow: 10014px 0 0 -5px $dotColor;
		animation: dotPulseAfter 1.5s infinite linear;
		animation-delay: 0.5s;
	}
}

/**
 * ==============================================
 * Dot Carousel
 * ==============================================
 */
.dot-carousel {
	position: relative;
	left: -9999px;
	width: $dotSize;
	height: $dotSize;
	border-radius: 5px;
	background-color: $dotColor;
	color: $dotColor;
	box-shadow: 9984px 0 0 0 $dotColor, 9999px 0 0 0 $dotColor, 10014px 0 0 0 $dotColor;
	animation: dotCarousel 1.5s infinite linear;
}

@keyframes dotFlashing {
	0% {
		background-color: $dotColor;
	}
	50%,
	100% {
		background-color: #f7f9f9;
	}
}

@keyframes dotElasticBefore {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1, 1.5);
	}
	50% {
		transform: scale(1, 0.67);
	}
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes dotElastic {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 1.5);
	}
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes dotElasticAfter {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 0.67);
	}
	75% {
		transform: scale(1, 1.5);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes dotPulseBefore {
	0% {
		box-shadow: 9984px 0 0 -5px $dotColor;
	}
	30% {
		box-shadow: 9984px 0 0 2px $dotColor;
	}
	60%,
	100% {
		box-shadow: 9984px 0 0 -5px $dotColor;
	}
}

@keyframes dotPulse {
	0% {
		box-shadow: 9999px 0 0 -5px $dotColor;
	}
	30% {
		box-shadow: 9999px 0 0 2px $dotColor;
	}
	60%,
	100% {
		box-shadow: 9999px 0 0 -5px $dotColor;
	}
}

@keyframes dotPulseAfter {
	0% {
		box-shadow: 10014px 0 0 -5px $dotColor;
	}
	30% {
		box-shadow: 10014px 0 0 2px $dotColor;
	}
	60%,
	100% {
		box-shadow: 10014px 0 0 -5px $dotColor;
	}
}

@keyframes dotCarousel {
	0% {
		box-shadow: 9984px 0 0 -1px $dotColor, 9999px 0 0 1px $dotColor, 10014px 0 0 -1px $dotColor;
	}
	50% {
		box-shadow: 10014px 0 0 -1px $dotColor, 9984px 0 0 -1px $dotColor, 9999px 0 0 1px $dotColor;
	}
	100% {
		box-shadow: 9999px 0 0 1px $dotColor, 10014px 0 0 -1px $dotColor, 9984px 0 0 -1px $dotColor;
	}
}
