.cardComp{
  width:600px;
  margin-top:10px;
  display: flex;
  .upvote{
    padding-top:15px;
    background-color: rgb(245, 243, 243);
    width:30px;
    display: flex;
    flex-direction: column;
    // align-content: center;
    align-items: center;
    .likeCnt{
      margin-top:10px;
    }
  }
  .card{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    
    .cardContent{
      width:570px;
      margin-top: 0px;
      .cardMeta{
        display: flex;
        justify-content:space-between;
      }
    }
    .comments{
      margin-top: 10px;
    }
  }
  
}


