@import '@styles/_mixinCollection.scss';

.checkBoxLabelTop {
	display: flex;
	flex-direction: column;
	width: max-content;
	align-items: center;
	padding: 5px;
	margin-top: var(--spacing) !important;
	.checkBox {
		align-items: center;
	}
	.checkBoxLabel {
		background-color: transparent;
	}
}

.checkBoxLabelRight {
	background-color: white;
	display: flex;
	align-items: center;
	width: max-content;
	padding: 5px;
	width: max-content;
	margin-top: var(--spacing) !important;
	.checkBox {
		align-items: center;
	}
	.checkBoxLabel {
		background-color: white;
		// height: 20px;
		display: flex;
		align-items: center;
	}
}
