@import '@styles/_mixinCollection.scss';

.horizontalList {
	background-color: white;
	display: flex;
	align-items: center;
	width: max-content;
	padding: 5px;
}

.verticalList {
	background-color: white;
	// display: flex;
	align-items: center;
	width: max-content;
	padding: 5px;
}
