@import 'https://fonts.googleapis.com/css2?family=Trispace&display=swap';

// $backgroundUrl: url('../../public/background/cool-background.png');
$backgroundUrl: url(~@public/background/cool-background.png);
$backgroundUrlLeft: url(~@public/background/loginLeft.png);
$DLogo: url(~@public/images/DLogo.png);
$sectionWidth: 30%;
$transitionTime: 0.4s;
$dividerColor: #839192;

.loginDiv {
	background-image: $backgroundUrl;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.loginMain {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginMainLeft {
	width: $sectionWidth;
	height: 80%;
	// background: $backgroundUrlLeft no-repeat;
	border-radius: 50px 0px 0px 50px;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	-webkit-transition: background-image 0.2s ease-in-out;
	transition: background-image $transitionTime ease-in-out;

	.loginCenterArticle {
		width: 100%;
		padding: 0 30px;
		position: absolute;
		font-family: 'Trispace', sans-serif;
		font-size: 24px;
		user-select: none;

		&.article1 {
			top: 50%;
			height: 200px;
			color: white;

			p:first-child {
				display: flex;
				align-items: center;
			}
		}

		&.article2 {
			color: black;
			top: 60%;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				line-height: 15px;
			}
		}

		&.article3 {
			color: black;
			top: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.loginBottomAside {
		width: 150px;
		position: absolute;
		top: 80%;
		display: flex;
		justify-content: space-between;

		.loginBottomAside_icon {
			color: var(--iconColor);
			cursor: pointer;
			transition: all $transitionTime ease-in-out;
		}
	}
}

.loginMainRight {
	background-color: white;
	width: $sectionWidth;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 2%;
	position: relative;

	.loginButton,
	.registerButton {
		width: 100%;
	}
}

.divider {
	/* minor cosmetics */
	display: flex;
	font-size: 24px;
	text-align: center;
	width: 100%; /* divider width */
	margin: 25px auto; /* spacing above/below */
	align-items: center;
	user-select: none;
}
.divider span {
	display: table-cell;
	position: relative;
}
.divider span:first-child,
.divider span:last-child {
	width: 50%;
	-moz-background-size: 100% 2px; /* line width */
	background-size: 100% 2px; /* line width */
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	height: 2px;
}
.divider span:first-child {
	/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to($dividerColor));
	background-image: -webkit-linear-gradient(180deg, transparent, $dividerColor);
	background-image: -moz-linear-gradient(180deg, transparent, $dividerColor);
	background-image: -o-linear-gradient(180deg, transparent, $dividerColor);
	background-image: linear-gradient(90deg, transparent, $dividerColor);
}
.divider span:nth-child(2) {
	color: $dividerColor;
	padding: 0px 5px;
	width: auto;
	white-space: nowrap;
	font-size: 12px;
}
.divider span:last-child {
	/* color changes in here */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($dividerColor), to(transparent));
	background-image: -webkit-linear-gradient(180deg, $dividerColor, transparent);
	background-image: -moz-linear-gradient(180deg, $dividerColor, transparent);
	background-image: -o-linear-gradient(180deg, $dividerColor, transparent);
	background-image: linear-gradient(90deg, $dividerColor, transparent);
}
