.avatarGroup {
	display: flex;
	margin-top: var(--spacing);
	height: var(--divHeight);
	position: relative;

	.avatarUser {
		display: unset;
		position: relative;
		border: 1px solid white;
		min-width: 90px;
		text-align: start;

		&.showBorder {
			border: 1px solid #bdc3c7;
		}

		&.hideBorder {
			border: 1px solid white;
		}

		.userImage {
			border: 1px solid #fff;
			border-radius: 4px;
			height: var(--divHeight);
			width: var(--divHeight);
			text-indent: 100%;
			overflow: hidden;
			white-space: nowrap;
			position: relative;
		}

		.userImage:not(:first-child) {
			margin-left: -4px;
		}

		.userImage:last-child {
			margin-right: 0px;
		}
	}

	.peopleGroup {
		width: 150px;
		background-color: #424949;
		color: white;
		padding: 10px;
		position: absolute;
		top: 90%;
		right: 70%;
		z-index: 999;
	}

	.avatarUserCount {
		color: #696969;
		font-size: 0.875rem;
		line-height: var(--divHeight);
		margin-left: 10px;
	}
}
