.avatarGroup {
	display: flex;
	margin-top: var(--spacing);
	height: var(--divHeight);

	.avatarUser {
		display: unset;

		.userImage {
			border: 1px solid #fff;
			border-radius: 4px;
			height: var(--divHeight);
			width: var(--divHeight);
			text-indent: 100%;
			overflow: hidden;
			white-space: nowrap;
			position: relative;
		}

		.userImage:not(:first-child) {
			margin-left: -4px;
		}

		.userImage:last-child {
			margin-right: 10px;
		}
	}

	.avatarUserCount {
		color: #696969;
		font-size: 0.875rem;
		line-height: var(--divHeight);
	}
}
