.boardLayout{
	// background-color: red;
	.boardMain {
		background-color: white;
		width:60%;
		margin:auto;
		border-radius: 10px;
		padding:20px;
		margin-top: 20px;

		.boardTitle{
			margin-bottom: 20px;
		}
	}
}

.boardPage{
	display: flex;
	flex-direction: column;
	.boardList{
		margin:auto;
	}
}