.boardLayout{
	// background-color: red;
	.boardMain {
		background-color: white;
		width:60%;
		margin:auto;
		border-radius: 10px;
		padding:20px 20px 60px 20px;
		margin-top: 20px;

		.boardTitle{
			margin-bottom: 20px;
		}
	}
}

.boardPage{
	display: flex;
	flex-direction: column;
	.boardList{
		margin:auto;
	}
	.boardFilter{
		background-color: white;
		border-radius: 0.285714rem;
		width:600px;
		height:40px;
		margin:auto;
		align-items: center;
		margin
		.filterBtn{
			margin-left:20px;
		}
		.boardSumbitBtn{
			
		}
	}
}
.commentPage{
	display: flex;
	flex-direction: column;
	
	.cardDiv{
		margin:auto;
	}
	.commentDiv{
		background-color: white;
		width:600px;
		margin:auto;
		padding: 20px;
		.commentArea{
			display: flex;
			margin-bottom: 30px;
			.commentTextArea{
				width:100%;
				height:40px

			}
			.commentBtn{
				width:80px;
				.cmnt_btn_str{
					color:blue
				}
			}
		}
	}
}