@import 'https://fonts.googleapis.com/css2?family=Trispace&display=swap';

// $backgroundUrl: url('../../public/background/cool-background.png');
$backgroundUrl: url(~@public/background/cool-background.png);
$sectionWidth: 60%;
.loginDiv {
	background-image: $backgroundUrl;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.loginMain {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginMainRight {
	background-color: white;
	border-radius: 50px 0px 0px 50px;
	width: $sectionWidth;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 2%;
	position: relative;

	.loginButton,
	.registerButton {
		width: 100%;
	}
}

.registerTextarea {
	min-height: 300px !important;
	width: -webkit-fill-available !important;
}

.idInputDiv {
	display: flex;
	// width: 100%;
}

.idCheckBtn {
	margin: 0px 2px;
}

.buttonBelow {
	display: flex;
	justify-content: space-around;
}

.uploader-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.img-wrapper {
		margin: 10px 0 10px 0;
		img {
			width: 200px;
			height: 200px;
		}
	}
	.upload-button {
		button {
			margin: 0 5px;
		}
	}
}

.step5Div {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginBtn {
	margin-top: 50px;
}
