.idInputDiv {
	display: flex;
	// width: 100%;
}

.loginBtn {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.stepDiv{
	// background-color: red;
	height: 100%;
	margin-bottom: 50px;
	position: relative;
	width:80%;
	.failDiv{
		// display: flex;
		margin-top:80px;
		text-align: center;
		font-size:30px;
		// justify-items:center;
		justify-items: center;
		.buttonBelow2{
			width:30px;
		}
	}
	.successDiv{
		margin-top:80px;
		// display: flex;
		justify-items: center;
		.helloUser{
			// display: inline-block;
			text-align: center;
			.helloUser1{
				font-size: 50px;
				padding: 20px;
				animation: fadein 10s;
				// -webkit-animation: fadein 3s; 
			}
			.helloUser2{
				font-size: 30px;
				padding: 30px 0px;
				animation: fadein2 10s;
				// -webkit-animation: fadein 3s; 
			}
			.helloUser3{
				font-size: 20px;
				padding: 30px 0px;
				animation: fadein3 10s;
				// -webkit-animation: fadein 3s; 
			}
			.helloUser4{
				font-size: 80px;
				margin-top:30px;
				animation: fadein3 10s;
				// -webkit-animation: fadein 3s; 
			}
			.helloUser5{
				font-size: 20px;
				margin-top:160px;
				animation: fadein4 10s;
				// -webkit-animation: fadein 3s; 
			}
			.buttonBelow{
				width:30px;
			}
		}
	}
	.techBtnDiv {
		margin-bottom: 2px;
	}
	.emailDiv{
		display: flex;
		justify-content: space-between;
		
		.inputIdField{
			width:70%;
		}
		.idCheckBtn {
			width:30%;
			// height:40px;
			margin: 0px ;
		}
	}
	.inputLabelHeader{
		margin-top:40px;
		margin-bottom: 10px;
	}
	.registerTextarea {
		min-height: 160px !important;
		width: -webkit-fill-available !important;
	}
	.buttonBelow{
		position: absolute;
		bottom: 0px;
		width:100%;
		display: flex;
		justify-content: space-around;
		.registerButton{
			border-radius: 10px;
		}
	}
	.uploader-wrapper {
		margin-top:30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// border: 2px rgb(189, 188, 188) solid;
		// border-radius: 15px;
		.img-wrapper {
			margin-bottom: 10px;
			border-radius: 1px solid black;
			img {
				width: 200px;
				height: 200px;
			}
		}
		.upload-button-div {
			margin-top:10px;
			.uploadBtn{
				border-radius: 20px;
			}
		}
	}
}
// .stepDiv{
// 	// background-color: red;
// 	height: 100%;
// 	margin-bottom: 50px;
// 	position: relative;
// 	width:80%;
// 	.buttonBelow{
// 		position: absolute;
// 		bottom: 0px;
// 		width:100%;
// 		display: flex;
// 		justify-content: space-around;
// 	}
// }

@keyframes fadein {
	0% {
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein2 {
	0% {
		opacity: 0;
	}
	15%{
		opacity: 0;
	}
	40%{
		opacity: 1;
	}
	75%{
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadein3 {
	0% {
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	40%{
		opacity: 0;
	}
	65%{
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein4 {
	0% {
		opacity: 0;
	}
	25%{
		opacity: 0;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}