$backgroundUrl: url(~@public/background/AboutBackground6.png);

.aboutMain {
	background-image: $backgroundUrl;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	overflow-y: auto;

	& > div {
		width: 50%;
		margin: 0 auto;
		padding-top: 50px;
	}

	.cardContent {
		& > span:first-child {
			float: left;
			margin-right: 20px !important;
		}
	}
}

.subTitleDivWithSVG {
	display: flex;
	line-height: 23px;

	& > svg {
		height: 23px !important;
		max-width: 15px !important;
		margin-right: 10px;
	}
}
