.dashboardTopMain {
	height: 48%;
	width: 100%;
	display: flex;
	// grid-template-columns: 2.5fr 1fr;
	// gap: 25px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 2%;

	.skillOverview {
		height: 100%;
		width: 62.5%;
		border: 1px solid white;
		background-color: white;
		border-radius: 10px;
		padding: 1%;

		img {
			margin-right: 30px !important;
		}

		canvas {
			height: 85% !important;
		}
	}

	.skillOverviewTable {
		height: 100%;
		overflow-y: auto;
		width: 32.5%;
		background-color: white;
		border-radius: 10px;

		position: relative;
	}
}

.skillTableBody > tr > td:first-child > div {
	justify-content: flex-start;
}

.skillTableBody > tr > td:first-child > div > img {
	height: 20px !important;
	width: 20px !important;
}

.paginationDiv {
	display: flex;
	justify-content: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	bottom: 3%;
}

.dashboardBottomMain {
	height: 48%;
	width: 100%;
	background-color: red;
}
