.imageListArea {
	height: 78px;
	width: 100%;
	background-color: floralwhite;
	display: flex;
	align-items: center;
	padding: 0 2%;

	& > div {
		height: 60px;
		width: 60px;
		border-radius: 10px;
		margin-right: 20px;
		position: relative;
		cursor: pointer;

		& > div {
			width: 100%;
			height: 100%;
			border-radius: 10px;
			margin-right: 20px;
			position: relative;
			cursor: pointer;
		}

		& > div::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			border-radius: 10px;
			opacity: 0;
		}

		& > div:hover::before {
			opacity: 1;
		}

		& > div > img {
			height: 100%;
			width: 100%;
			border-radius: 10px;
			cursor: pointer;
		}

		& > button {
			background-color: transparent;
			background-repeat: none;
			border: none;
			position: absolute;
			right: -15%;
			top: -10%;
			z-index: 1;
			padding: 0;
			margin: 0;
			cursor: pointer;

			svg {
				width: 22px;
				height: 22px;
				color: white;
				background-color: white;
				border-radius: 50%;
			}
		}
	}
}

.quillWrap {
	// quill editor height 조정
	:global(.ql-editor) {
		min-height: 80px;
		max-height: var(--quillHeight);
		overflow-y: auto;
	}
}
