@mixin label16($fontSize) {
	font-size: $fontSize;
	line-height: 32px;
}

@mixin textBox($fontSize) {
	font-size: $fontSize;
	font-weight: 300;
	@content;
}

@mixin userSelectNone {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@mixin lineClamp($lineSize) {
	display: -webkit-box;
	-webkit-line-clamp: $lineSize;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
