// https://www.rapidtables.com/web/color/html-color-codes.html

// Red colors
$redscale1: #fdedec;
$redscale2: #fadbd8;
$redscale3: #f5b7b1;
$redscale4: #f1948a;
$redscale5: #ec7063;
$redscale6: #e74c3c;
$redscale7: #cb4335;
$redscale8: #b03a2e;
$redscale9: #943126;
$redscale10: #78281f;
$red: red;

// Purple colors
$puplescale1: #f4ecf7;
$puplescale2: #e8daef;
$puplescale3: #d2b4de;
$puplescale4: #bb8fce;
$puplescale5: #a569bd;
$puplescale6: #8e44ad;
$puplescale7: #7d3c98;
$puplescale8: #6c3483;
$puplescale9: #5b2c6f;
$puplescale10: #4a235a;
$puple: purple;

// Blue colors
$bluescale1: #ebf5fb;
$bluescale2: #d6eaf8;
$bluescale3: #aed6f1;
$bluescale4: #85c1e9;
$bluescale5: #5dade2;
$bluescale6: #3498db;
$bluescale7: #2e86c1;
$bluescale8: #2874a6;
$bluescale9: #21618c;
$bluescale10: #1b4f72;
$blue: blue;

// Green colors
$greenscale1: #eafaf1;
$greenscale2: #d5f5e3;
$greenscale3: #abebc6;
$greenscale4: #82e0aa;
$greenscale5: #58d68d;
$greenscale6: #2ecc71;
$greenscale7: #28b463;
$greenscale8: #239b56;
$greenscale9: #1d8348;
$greenscale10: #186a3b;
$green: green;

// Grey/Silver colors
$greyscale1: #f8f9f9;
$greyscale2: #f2f3f4;
$greyscale3: #e5e7e9;
$greyscale4: #d7dbdd;
$greyscale5: #cacfd2;
$greyscale6: #bdc3c7;
$greyscale7: #a6acaf;
$greyscale8: #909497;
$greyscale9: #797d7f;
$greyscale10: #626567;
$grey: grey;

// Black colors
$blackscale1: #eaecee;
$blackscale2: #d5d8dc;
$blackscale3: #abb2b9;
$blackscale4: #808b96;
$blackscale5: #566573;
$blackscale6: #2c3e50;
$blackscale7: #273746;
$blackscale8: #212f3d;
$blackscale9: #1c2833;
$blackscale10: #17202a;
$black: black;

// White colors
$whitescale1: #fdfefe;
$whitescale2: #fbfcfc;
$whitescale3: #f7f9f9;
$whitescale4: #f4f6f7;
$whitescale5: #f0f3f4;
$whitescale6: #ecf0f1;
